<div class="dashboard-container">
  <div class="dashboard-main">
    <aside class="sidebar">
      <ul class="navbar-nav">
        <h1 class="dark-title mt-3">Table de bord</h1>
        
        <!-- Menu ADMIN - Visible seulement pour ROLE_ADMIN -->
        <ng-container *ngIf="hasRole('ROLE_ADMIN')">
          <!-- Menu "Gérer compte" -->
          <li class="nav-item">
            <span class="dark-gray-title nav-link" data-bs-toggle="collapse" href="#collapseAccount" style="cursor: pointer;">
              Gérer compte
              <div class="sidenav-collapse-arrow">
                <svg class="sidenav-collapse-arrow" width="16" height="16" viewBox="0 0 384 512" fill="currentColor">
                  <path d="M169.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 274.7 54.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"></path>
                </svg>
              </div>
            </span>
            
            <div class="collapse" id="collapseAccount">
              <ul class="nav flex-column ms-3">
                <li class="nav-item">
                  <a class="nav-link" routerLink="liste_compte">Liste Technicien</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="listeClients">Liste Clients</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="liste_Commercial">Liste Commercial</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="AjouterUser">Ajouter Utilisateur</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="signup">Ajouter Client</a>
                </li>
              </ul>
            </div>
          </li>

          <!-- Menu "Demande Intervention" pour ADMIN -->
          <li class="nav-item">
            <span class="dark-gray-title nav-link" data-bs-toggle="collapse" href="#collapseDemande" style="cursor: pointer;">
              Demande Intervention
              <div class="sidenav-collapse-arrow">
                <svg class="sidenav-collapse-arrow" width="16" height="16" viewBox="0 0 384 512" fill="currentColor">
                  <path d="M169.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 274.7 54.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"></path>
                </svg>
              </div>
            </span>
            <div class="collapse" id="collapseDemande">
              <ul class="nav flex-column ms-3">
                <li class="nav-item">
                  <a class="nav-link" routerLink="listeDemande">Liste Demandes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="demande-intervention">Ajouter Demande</a>
                </li>
              </ul>
            </div>
          </li>
        </ng-container>

        <!-- Menu CLIENT - Visible seulement pour ROLE_CLIENT -->
        <ng-container *ngIf="hasRole('ROLE_CLIENT')">
          <!-- Menu "Demande Intervention" pour CLIENT -->
          <li class="nav-item">
            <span class="dark-gray-title nav-link" data-bs-toggle="collapse" href="#collapseDemandeClient" style="cursor: pointer;">
              Demande Intervention
              <div class="sidenav-collapse-arrow">
                <svg class="sidenav-collapse-arrow" width="16" height="16" viewBox="0 0 384 512" fill="currentColor">
                  <path d="M169.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 274.7 54.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"></path>
                </svg>
              </div>
            </span>
            <div class="collapse" id="collapseDemandeClient">
              <ul class="nav flex-column ms-3">
                <li class="nav-item">
                  <a class="nav-link" routerLink="listeDemande">Liste Demandes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="demande-intervention">Ajouter Demande</a>
                </li>
              </ul>
            </div>
          </li>
        </ng-container>
      </ul>
    </aside>

    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </div>
</div>