
<div class="dashboard-container">

  
  <div class="dashboard-main">
    <aside class="sidebar">
      
      <ul class="navbar-nav">
        
        <h1 class="dark-title mt-3">Table de bord</h1>

        <!-- Menu ADMIN -->
        <ng-container *ngIf="hasRole('ROLE_ADMIN')">
          <!-- Gérer compte -->
          <li class="nav-item">
            <span class="dark-gray-title nav-link" data-bs-toggle="collapse" href="#collapseAccount" style="cursor: pointer;">
              Utilisateurs
              <i class="fas fa-chevron-down float-end"></i>
            </span>
            <div class="collapse" id="collapseAccount">
              <ul class="nav flex-column ms-3">
                <li class="nav-item"><a class="nav-link" routerLink="liste_compte"> <i class="fas fa-user me-2"></i>Techniciens</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="listeClients"><i class="fas fa-user me-2"></i>Clients</a></li>
                <!-- <li class="nav-item"><a class="nav-link" routerLink="liste_Commercial"><i class="fas fa-user me-2"></i>Commercial</a></li> -->
                <li class="nav-item"><a class="nav-link" routerLink="AjouterUser"><i class="fas fa-user-plus me-2"></i>Ajouter Utilisateur</a></li>
              </ul>
            </div>
          </li>

          <!-- Demande Intervention -->
          <li class="nav-item">
            <span class="dark-gray-title nav-link" data-bs-toggle="collapse" href="#collapseDemande" style="cursor: pointer;">
              Demande Intervention
              <i class="fas fa-chevron-down float-end"></i>
            </span>
            <div class="collapse" id="collapseDemande">
              <ul class="nav flex-column ms-3">
                <li class="nav-item"><a class="nav-link" routerLink="listeDemande">Liste Demandes</a></li>
              </ul>
            </div>
          </li>

          <!-- Autorisation de sortie -->
          <li class="nav-item">
            <span class="dark-gray-title nav-link" data-bs-toggle="collapse" href="#collapseAutorisation" style="cursor: pointer;">
              Demande autorisation de sortie
              <i class="fas fa-chevron-down float-end"></i>
            </span>
            <div class="collapse" id="collapseAutorisation">
              <ul class="nav flex-column ms-3">
                <li class="nav-item"><a class="nav-link" routerLink="listeautorisationSortie">Liste des autorisations</a></li>
              </ul>
            </div>
          </li>

          <!-- Intervention -->
          <li class="nav-item">
            <span class="dark-gray-title nav-link" data-bs-toggle="collapse" href="#collapseInterventionAdmin" style="cursor: pointer;">
              Intervention
              <i class="fas fa-chevron-down float-end"></i>
            </span>
            <div class="collapse" id="collapseInterventionAdmin">
              <ul class="nav flex-column ms-3">
                <li class="nav-item"><a class="nav-link" routerLink="listeIntervention">Liste Intervention</a></li>
              </ul>
            </div>
          </li>

          <!-- Demande Contrat -->
          <li class="nav-item">
            <span class="dark-gray-title nav-link" data-bs-toggle="collapse" href="#collapseDemandeContratAdmin" style="cursor: pointer;">
              Demande Contrat
              <i class="fas fa-chevron-down float-end"></i>
            </span>
            <div class="collapse" id="collapseDemandeContratAdmin">
              <ul class="nav flex-column ms-3">
                <li class="nav-item"><a class="nav-link" routerLink="ListedemandeContrat">ListedemandeContrat</a></li>
              </ul>
            </div>
          </li>
<!-- Contrat -->
<li class="nav-item">
  <span class="dark-gray-title nav-link" data-bs-toggle="collapse" href="#collapseContratAdmin" style="cursor: pointer;">
    Contrat
    <i class="fas fa-chevron-down float-end"></i>
  </span>
  <div class="collapse" id="collapseContratAdmin">
    <ul class="nav flex-column ms-3">
      <li class="nav-item"><a class="nav-link" routerLink="ListeContrat">ListeContrat</a></li>
    </ul>
  </div>
</li>

<!-- Facture -->
<li class="nav-item">
  <span class="dark-gray-title nav-link" data-bs-toggle="collapse" href="#collapseFactureAdmin" style="cursor: pointer;">
    Facture
    <i class="fas fa-chevron-down float-end"></i>
  </span>
  <div class="collapse" id="collapseFactureAdmin">
    <ul class="nav flex-column ms-3">
      <li class="nav-item"><a class="nav-link" routerLink="ListeFacture">ListeFacture</a></li>
    </ul>
  </div>
</li>

<!-- Satisfaction -->
<li class="nav-item">
  <span class="dark-gray-title nav-link" data-bs-toggle="collapse" href="#collapseSatisfactionAdmin" style="cursor: pointer;">
    Satisfaction
    <i class="fas fa-chevron-down float-end"></i>
  </span>
  <div class="collapse" id="collapseSatisfactionAdmin">
    <ul class="nav flex-column ms-3">
      <li class="nav-item"><a class="nav-link" routerLink="listesatisfactionClient">ListeSatisfactionClient</a></li>
    </ul>
  </div>
</li>

        </ng-container>
        <!-- Menu CLIENT -->
        <ng-container *ngIf="hasRole('ROLE_CLIENT')">
          <!-- Demande Intervention -->
          <li class="nav-item">
            <span class="dark-gray-title nav-link" data-bs-toggle="collapse" href="#collapseDemandeClient" style="cursor: pointer;">
              Demande Intervention
              <i class="fas fa-chevron-down float-end"></i>
            </span>
            <div class="collapse" id="collapseDemandeClient">
              <ul class="nav flex-column ms-3">
                <li class="nav-item"><a class="nav-link" routerLink="listeDemande">Liste Demandes</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="demande-intervention">Ajouter Demande</a></li>
              </ul>
            </div>
          </li>

          <!-- Intervention -->
          <li class="nav-item">
            <span class="dark-gray-title nav-link" data-bs-toggle="collapse" href="#collapseInterventionClient" style="cursor: pointer;">
              Intervention
              <i class="fas fa-chevron-down float-end"></i>
            </span>
            <div class="collapse" id="collapseInterventionClient">
              <ul class="nav flex-column ms-3">
                <li class="nav-item"><a class="nav-link" routerLink="listeIntervention">Liste Intervention</a></li>
              </ul>
            </div>
          </li>

          <!-- Demande Contrat -->
          <li class="nav-item">
            <span class="dark-gray-title nav-link" data-bs-toggle="collapse" href="#collapseDemandeContratClient" style="cursor: pointer;">
              Demande Contrat
              <i class="fas fa-chevron-down float-end"></i>
            </span>
            <div class="collapse" id="collapseDemandeContratClient">
              <ul class="nav flex-column ms-3">
                <li class="nav-item"><a class="nav-link" routerLink="demandeContrat">Demande Contrat</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="ListedemandeContrat">ListedemandeContrat</a></li>
              </ul>
            </div>
          </li>

          <!-- Contrat -->
          <li class="nav-item">
            <span class="dark-gray-title nav-link" data-bs-toggle="collapse" href="#collapseContratClient" style="cursor: pointer;">
              Contrat
              <i class="fas fa-chevron-down float-end"></i>
            </span>
            <div class="collapse" id="collapseContratClient">
              <ul class="nav flex-column ms-3">
                <li class="nav-item"><a class="nav-link" routerLink="ListeContrat">ListeContrat</a></li>
              </ul>
            </div>
          </li>
<li class="nav-item">
  <span class="dark-gray-title nav-link" data-bs-toggle="collapse" href="#collapseFactureAdmin" style="cursor: pointer;">
    Facture
    <i class="fas fa-chevron-down float-end"></i>
  </span>
  <div class="collapse" id="collapseFactureAdmin">
    <ul class="nav flex-column ms-3">
      <li class="nav-item"><a class="nav-link" routerLink="ListeFacture">ListeFacture</a></li>
    </ul>
  </div>
</li>

<li class="nav-item">
  <span class="dark-gray-title nav-link" data-bs-toggle="collapse" href="#collapseSatisfactionAdmin" style="cursor: pointer;">
    Satisfaction
    <i class="fas fa-chevron-down float-end"></i>
  </span>
  <div class="collapse" id="collapseSatisfactionAdmin">
    <ul class="nav flex-column ms-3">
      <li class="nav-item"><a class="nav-link" routerLink="satisfactionClient">SatisfactionClient</a></li>
    </ul>
  </div>
</li>

        </ng-container>

        <!-- Menu TECHNICIEN -->
        <ng-container *ngIf="hasRole('ROLE_TECHNICIEN')">
          <li class="nav-item">
            <a class="nav-link" routerLink="planing"> Mon planning </a>
          </li>

          <!-- Autorisation de sortie -->
          <li class="nav-item">
            <span class="dark-gray-title nav-link" data-bs-toggle="collapse" href="#collapseAutorisationTech" style="cursor: pointer;">
              Demande Autorisation Sortie
              <i class="fas fa-chevron-down float-end"></i>
            </span>
            <div class="collapse" id="collapseAutorisationTech">
              <ul class="nav flex-column ms-3">
                <li class="nav-item"><a class="nav-link" routerLink="autorisationSortie">Autorisation de sortie</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="listeautorisationSortie">Liste des autorisations</a></li>
              </ul>
            </div>
          </li>

          <!-- Intervention -->
          <li class="nav-item">
            <span class="dark-gray-title nav-link" data-bs-toggle="collapse" href="#collapseInterventionTech" style="cursor: pointer;">
              Intervention
              <i class="fas fa-chevron-down float-end"></i>
            </span>
            <div class="collapse" id="collapseInterventionTech">
              <ul class="nav flex-column ms-3">
                <li class="nav-item"><a class="nav-link" routerLink="listeIntervention">Liste Intervention</a></li>
              </ul>
            </div>
          </li>
        </ng-container>
      </ul>
    </aside>

    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </div>
</div>
