<!-- src/app/components/liste-satisfaction-client/liste-satisfaction-client.component.html -->
<div class="container mt-4">
  <h2 class="titre-tech">Satisfaction client</h2>

  <input type="text" [(ngModel)]="searchText" placeholder="Rechercher..." class="form-control mb-3" />

  <div *ngIf="isLoading" class="text-center mt-3">
    Chargement des satisfactions...
  </div>

  <div *ngIf="!isLoading && satisfaction.length > 0">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Client</th>
          <th>Email</th>
          <th>Intervention</th>
          <th>Niveau</th>
          <th>Commentaire</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredSatisfaction | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
          <td>
            {{ item.intervention.client.nom }} {{ item.intervention.client.prenom }}<br />
            {{ item.intervention.client.entreprise }}
          </td>
            <td>{{item.intervention.client.email}}</td>   
            
<td>
  <button  class="btn btn-light btn-sm btn-sm"
          (click)="showTachesPopup(item.intervention)">
            <i class="fas fa-file-alt text-muted"></i>
    Intervention
  </button>
</td>
          <td>{{ item.satisfaction.niveau }}</td>
          <td>{{ item.satisfaction.commentaire || '-' }}</td>
          <td>{{ item.satisfaction.date_creation }}</td>
        </tr>
      </tbody>
    </table>

    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
  </div>

  <div *ngIf="!isLoading && satisfaction.length === 0" class="text-center mt-3">
    Aucune satisfaction trouvée.
  </div>
</div>
