<div class="container mt-4">
  <h2 class="titre-tech">Liste des Factures</h2>
  <input type="text" [(ngModel)]="searchText" class="form-control mb-3" placeholder="Rechercher...">
  <div *ngIf="isLoading" class="text-center">
    <div class="spinner-border" role="status"><span class="visually-hidden">Chargement...</span></div>
  </div>
  <table *ngIf="!isLoading && filteredFacturesPaginated.length > 0" class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>#Facture</th>
        <th>Date</th>
        <th>Client</th>
        <th>Entreprise</th>
        <th>Statut</th>
        <th>Montant TTC</th>
        <th>ModePiement</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let facture of filteredFacturesPaginated | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
        <td>{{ facture.numFacture }}</td>
        <td>{{ facture.dateEmission }}</td>
        <td>{{ facture.client?.prenom }} {{ facture.client?.nom }}</td>
        <td>{{ facture.client?.entreprise }}</td>
        <td>
          <span [ngClass]="{
            'text-success': facture.statut === 'payee',
            'text-warning': facture.statut === 'en_attente',
            'text-danger': facture.statut === 'en_retard'
          }">
            {{ facture.statut.toUpperCase() }}
          </span>
        </td>
        <td>{{ facture.montantTTC }} DT</td>
       <td>
  <ng-container *ngIf="facture.statut === 'en_attente'; else afficherModes">
    <span class="text-muted">En attente de paiement</span>
  </ng-container>
  <ng-template #afficherModes>
    <span *ngIf="facture.modePaiements && facture.modePaiements.length > 0; else aucunMode ">
      {{ getNomModesPaiement(facture.modePaiements) }}
    </span>
    <ng-template #aucunMode>
      <span class="text-danger">Aucun mode défini</span>
    </ng-template>
  </ng-template>
</td>


        <td>
          <button  class="btn btn-light btn-sm w-50 mt-1" 
           (click)="afficherFacture(facture)">
            <i class="fas fa-file-alt text-muted"></i> 
            Facture
          </button>
          <button *ngIf="!isAdmin " class="btn btn-success btn-sm w-50 mt-1" (click)="ouvrirPopupPaiement(facture)">
  <i class="fas fa-money-check-alt"></i> Payer
</button>

        </td>
      </tr>
    </tbody>
  </table>

  <!-- Pagination -->
  <pagination-controls
    (pageChange)="currentPage = $event"
    class="mt-3"
    previousLabel="Précédent"
    nextLabel="Suivant">
  </pagination-controls>

  <!-- Aucune donnée -->
  <div *ngIf="!isLoading && filteredFacturesPaginated.length === 0" class="alert alert-info">
    Aucune facture trouvée.
  </div>
</div>
