<div class="container mt-4">
  <h2 class="titre-tech">Liste des Factures</h2>
  <input type="text" [(ngModel)]="searchText" class="form-control mb-3" placeholder="Rechercher...">
  <div *ngIf="isLoading" class="text-center">
    <div class="spinner-border" role="status"><span class="visually-hidden">Chargement...</span></div>
  </div>
  <table *ngIf="!isLoading && filteredFacturesPaginated.length > 0" class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>#Facture</th>
        <th>Intervention</th>
        <th>Date</th>
        <th>Client</th>
        <th>Entreprise</th>
        <th>Statut</th>
        <th>Montant TTC</th>
        <th>ModePiement</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let facture of filteredFacturesPaginated | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
        <td>{{ facture.numFacture }}</td>
        <td> 
    <button class="btn btn-light btn-sm btn-sm" (click)="showTachesPopup(facture.intervention)">
                  <i class="fas fa-file-alt text-muted"></i> 

      Intervention
    </button></td>
        <td>{{ facture.dateEmission }}</td>
        <td>{{ facture.intervention?.prenom }} {{ facture.intervention?.nom }}</td>
        <td>{{ facture.intervention?.entreprise }}</td>
        <td>
          <span [ngClass]="{
            'text-success': facture.statut === 'payee',
            'text-warning': facture.statut === 'en_attente',
            'text-danger': facture.statut === 'en_retard'
          }">
            {{ facture.statut.toUpperCase() }}
             <span *ngIf="facture.date_paiement" class="d-block text-muted small">
       le {{ facture.date_paiement | date:'dd/MM/yyyy' }}
    </span>
    <button *ngIf="facture.statut === 'en_attente' && facture.modePaiements?.length!==0 && !isClient" 
             class="btn btn-light btn-sm " 
                (click)="validerPaiement(facture)">
                 <i class="fas fa-check text-success"></i>
        
        </button>
        <!-- <span *ngIf="facture.statut === 'en_retard'" class="badge bg-danger">
          En retard
        </span> -->
          </span>
        </td>
        <td>{{ facture.montantTTC }} DT</td>
<td>
  <!-- Cas 1: En attente sans modes de paiement -->
  <span *ngIf="facture.statut === 'en_attente' && !facture.modePaiements?.length" 
        class="text-muted">
    En attente de paiement
  </span>

  <!-- Cas 2: En attente avec modes de paiement -->
  <span *ngIf="facture.statut === 'en_attente' && facture.modePaiements?.length"
        class="text">
    {{ getNomModesPaiement(facture.modePaiements) }} 
   
    <span class="badge bg-warning text-dark">En attente de confirmation</span>
  </span>

  <!-- Cas 3: Payée/Retard avec modes de paiement -->
  <span *ngIf="facture.statut !== 'en_attente' && facture.modePaiements?.length"
        class="text-success">
    {{ getNomModesPaiement(facture.modePaiements) }}
   
  </span>

  <!-- Cas 4: Payée/Retard sans modes de paiement -->
  <span *ngIf="facture.statut !== 'en_attente' && !facture.modePaiements?.length"
        class="text-danger">
    Aucun mode défini
  </span>
</td>

        <td>
          <button  class="btn btn-light btn-sm btn-sm" 
           (click)="afficherFacture(facture)">
            <i class="fas fa-file-alt text-muted"></i> 
            Facture
          </button>
          <button *ngIf="!isAdmin " class="btn btn-success btn-sm w-50 mt-1" (click)="ouvrirPopupPaiement(facture)">
  <i class="fas fa-money-check-alt"></i> Payer
</button>

        </td>
      </tr>
    </tbody>
  </table>

  <!-- Pagination -->
  <pagination-controls
    (pageChange)="currentPage = $event"
    class="mt-3"
    previousLabel="Précédent"
    nextLabel="Suivant">
  </pagination-controls>

  <!-- Aucune donnée -->
  <div *ngIf="!isLoading && filteredFacturesPaginated.length === 0" class="alert alert-info">
    Aucune facture trouvée.
  </div>
</div>
