.container {
  max-width: 600px;
}
/* satisfaction-client.component.css */
.card {
  border-radius: 12px;
  background-color: #ffffff;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
}

textarea::placeholder {
  color: #aaa;
}

input[type="number"]::placeholder {
  color: #aaa;
}
