.table-success {
    background-color: #d4edda !important; /* Vert clair */
    color: #155724; /* Texte vert foncé */
  }
  
  .table-danger {
    background-color: #f8d7da !important; /* Rouge clair */
    color: #721c24; /* Texte rouge foncé */
  }
  @media print {
    .no-print {
      display: none !important;
    }
  }
  /* liste-demande.component.css */
.modal-img {
  max-height: 200px;
  object-fit: contain;
  width: 100%;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-img-top {
  flex-grow: 1;
  object-fit: contain;
  background-color: #f8f9fa;
}
/* liste-demande.component.css */
.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.photo-card {
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  overflow: hidden;
  transition: transform 0.2s;
}

.photo-card:hover {
  transform: scale(1.02);
}

.photo-img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  background-color: #f8f9fa;
}.img-thumbnail {
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
}/* Personnaliser la popup */
.custom-swal-popup {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 8px;
  background-color: #f7f7f7;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Personnaliser les labels des champs */
.custom-swal-label {
  color: #007bff; /* Couleur bleue */
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  display: block; /* Mettre les labels sur une nouvelle ligne */
}

/* Personnaliser les champs de formulaire */
.custom-swal-input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
}

.custom-swal-input:focus {
  border-color: #007bff;
  outline: none;
}
.table-responsive {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.titre-tech {
  color: #35536d;
  font-weight: bold;
}
.table th {
    background-color: #fffefe;
    color: #35536d;
    vertical-align: middle;
    white-space: nowrap;
  }
  .disabled-row {
  background-color: #f8f9fa;
  opacity: 0.6;
  pointer-events: none;
}

/* .disabled-row td {
  text-decoration: line-through;
  color: #6c757d !important;
} */

.disabled-row button {
  display: none;
}