<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/images/124587.jpg" class="d-block w-100" alt="Image 1">
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="carousel-caption">
          <!-- <h1>Another example headline.</h1>
          <p>Some representative placeholder content for the second slide of the carousel.</p>
          <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p> -->
        </div>
      </div>
      <img src="/assets/images/depannage-ascensoriste.png" class="d-block w-100" alt="Image 2">
      
    </div>
    <div class="carousel-item">
      <img src="/assets/images/123654.jpg" class="d-block w-100" alt="Image 3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  
</div>

<br>
  <br>
  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img src="/assets/images/article-electriciens.webp" class="rounded-circle" width="140" height="140" alt="Profile Image">

        <h2>Suivi des Interventions</h2>
        <p> Suivez en temps réel toutes les interventions pour optimiser les ressources et réduire les temps d'arrêt.</p>
        <!-- <p><a class="btn btn-secondary" href="#">View details »</a></p> -->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/assets/images/maint01.jpg" class="rounded-circle" width="140" height="140" alt="Profile Image">

        <h2>Planification Préventive</h2>
        <p> Anticipez les besoins de maintenance avec des alertes pour inspections et remplacements programmés.</p>
        <!-- <p><a class="btn btn-secondary" href="#">View details »</a></p> -->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/assets/images/images12 (1).jpg" class="rounded-circle" width="140" height="140" alt="Profile Image">

        <h2>Rapports et Analyses</h2>
        <p>Obtenez des insights détaillés pour améliorer l'efficacité et la conformité des opérations de maintenance.</p>
        <!-- <p><a class="btn btn-secondary" href="#">View details »</a></p> -->
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Gestion  des Interventions de  Maintenance <span class="text-muted">Optimisation et Efficacité.</span></h2>
        <p class="lead">La gestion des interventions en maintenance permet de planifier, suivre et optimiser les opérations de réparation et d'entretien des équipements. Grâce à des solutions modernes, elle améliore la réactivité, réduit les coûts et garantit un fonctionnement optimal des infrastructures</p>
      </div>
      <div class="col-md-5">
        <img src="/assets/images/images12 (1).jpg" class="featurette-image img-fluid mx-auto" width="500" height="500" alt="Maintenance Management">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Gestion de Maintenance des Interventions </h2>
        <p class="lead">
          La gestion de maintenance est essentielle pour assurer le bon fonctionnement des équipements et infrastructures. Elle comprend la planification, le suivi et l’exécution des interventions de maintenance préventive et corrective. Une gestion efficace permet d’optimiser la durée de vie des installations, de réduire les pannes et d’améliorer la sécurité des utilisateurs.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/assets/images/depannage-ascensoriste.png" class="featurette-image img-fluid mx-auto" width="500" height="500" alt="Maintenance Management">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Suivi et Analyse des Données <span class="text-muted">Prenez des décisions éclairées.</span></h2>
        <p class="lead">Notre système de gestion de maintenance offre des <strong>outils avancés de suivi et d'analyse</strong> pour vous aider à prendre des décisions éclairées. Grâce à des rapports détaillés et des tableaux de bord intuitifs, vous pouvez :</p>
        <ul>
          <li><strong>Visualiser les performances</strong> de vos équipements en temps réel.</li>
          <li><strong>Identifier les tendances</strong> et les points faibles pour une maintenance proactive.</li>
          <li><strong>Améliorer l'efficacité</strong> globale de vos opérations techniques.</li>
        </ul>
      </div>
      <div class="col-md-5">
        <img src="/assets/images/images 444(1).jpg" class="featurette-image img-fluid mx-auto" width="500" height="500" alt="Maintenance Management">

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div>