<div class="container mt-4">
  <h2>Créer une demande de contrat</h2>

  <form (ngSubmit)="onSubmit()">
    <div class="NgxEditor__Wrapper">
      <ngx-editor-menu [editor]="editor"></ngx-editor-menu> <!-- Le menu de l'éditeur -->
      <ngx-editor
        [editor]="editor"
        [(ngModel)]="description" 
        name="description"  
        [disabled]="false"
        [placeholder]="'Type here...'">
      </ngx-editor>
    </div>

    <button class="btn btn-primary mt-3" type="submit">Envoyer</button>
  </form>
</div>
