.swal2-input {
    margin: 10px 0;
  }
  .table-responsive {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}.titre-tech {
  color: #35536d;
  font-weight: bold;
}
.table th {
    background-color: #fffefe;
    color: #35536d;
    vertical-align: middle;
    white-space: nowrap;
  }