<div class="container mt-4">
    <h2>Liste des Commercial</h2>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <table class="table table-striped">
      <thead>
        <tr>
        <th style="font-size: 12px;">ID</th>
        <th style="font-size: 12px;">Nom</th>
        <th style="font-size: 12px;">Prénom</th>
        <th style="font-size: 12px;">Email</th>
        <th style="font-size: 12px;">Numéro de Téléphone</th>
        <!-- <th style="font-size: 12px;">Type d'utilisateur</th> -->
        <th style="font-size: 12px;">Region</th>       
        <th style="font-size: 12px;">Date de Création</th>
        <th style="font-size: 12px;">Photo</th>
        <th style="font-size: 12px;">Actions</th>
        </tr>
        <tr>
          <th><input type="text" [(ngModel)]="filters.id" (input)="applyFilters()" placeholder="Filtrer par ID"></th>
          <th><input type="text" [(ngModel)]="filters.nom" (input)="applyFilters()" placeholder="Filtrer par Nom"></th>
          <th><input type="text" [(ngModel)]="filters.prenom" (input)="applyFilters()" placeholder="Filtrer par Prénom"></th>
          <th><input type="text" [(ngModel)]="filters.email" (input)="applyFilters()" placeholder="Filtrer par Email"></th>
          <th><input type="text" [(ngModel)]="filters.numTel" (input)="applyFilters()" placeholder="Filtrer par Téléphone"></th>
          <!-- <th><input type="text" [(ngModel)]="filters.user_type" (input)="applyFilters()" placeholder="Filtrer par Type"></th> -->
          <th><input type="text" [(ngModel)]="filters.region" (input)="applyFilters()" placeholder="Filtrer par Region"></th>
          <th><input type="text" [(ngModel)]="filters.date_creation" (input)="applyFilters()" placeholder="Filtrer par Date"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredUser | paginate: { itemsPerPage: 10, currentPage: currentPage }">
          <td>{{ user.id }}</td>
          <td>{{ user.nom }}</td>
          <td>{{ user.prenom }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.numTel }}</td>
          <!-- <td>{{ user.user_type }}</td> -->
          <td>{{ user.region }}</td>
          <td>{{ user.date_creation }}</td>
          <td>
            <img [src]="baseUrl + user.photo" *ngIf="user.photo" 
                 alt="User Photo" style="width: 50px; height: 50px; object-fit: cover;">
            <div *ngIf="!user.photo" style="width: 50px; height: 50px; background: #eee; display: flex; align-items: center; justify-content: center;">
              Pas de photo
            </div>
          </td>
                    
          <td>
            <button
            class="btn btn-light btn-sm me-2" 
            (click)="editCommercial(user)">
            <i class="fas fa-edit text-primary"></i> 

            <!-- Modifier -->
          </button>
            
              <!-- Afficher le bouton "Désactiver" si le compte est actif -->
              <button 
                *ngIf="user.isActive" 
                class="btn btn-light btn-sm me-2" 
                (click)="desactiverUser(user)">
                <i class="fas fa-check-circle text-success"></i> <!-- Icône de validation -->

                <!-- Désactiver -->
              </button>
            
              <!-- Afficher le bouton "Activer" si le compte est inactif -->
              <button 
                *ngIf="!user.isActive" 
                class="btn btn-light btn-sm me-2" 
                (click)="activerUser(user)">
                <i class="fas fa-lock text-danger"></i> <!-- Icône de cadenas -->

                <!-- Activer -->
              </button>
            </td>
            
            
        </tr>
      </tbody>
    </table>
    <div class="pagination-container">
      <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    </div>
    <div *ngIf="selectedUser">
      <h3>Modifier Commercial</h3>
      <form (ngSubmit)="updateUser()">
        <div class="form-group">
          <label for="nom">Nom</label>
          <input type="text" id="nom" [(ngModel)]="selectedUser.nom" name="nom" class="form-control">
        </div>
        <div class="form-group">
          <label for="prenom">Prénom</label>
          <input type="text" id="prenom" [(ngModel)]="selectedUser.prenom" name="prenom" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" [(ngModel)]="selectedUser.email" name="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="numTel">Numéro de Téléphone</label>
          <input type="text" id="numTel" [(ngModel)]="selectedUser.numTel" name="numTel" class="form-control">
        </div>
        <div class="form-group">
            <label for="region">Region</label>
            <input
              type="text"
              id="region"
              [(ngModel)]="selectedUser.region"
              name="region"
              class="form-control"
            />
          </div>
        <div class="form-group">
            <label for="photo">Photo</label>
            <input
              type="file"
              id="photo"
              class="form-control"
              (change)="onFileSelected($event)"
              accept="image/*"
            />
          </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>