<div class="d-flex justify-content-center align-items-center mt-4">
  <div class="w-50 p-4 border rounded shadow">
    <h2 class="text-center mb-3">Déposer une demande d'Intervention</h2>

    <form *ngIf="demandeForm" [formGroup]="demandeForm" (ngSubmit)="onSubmit()">
      <!-- Description -->
      <div class="mb-2">
        <label class="form-label" for="description">Description:</label>
        <textarea 
          class="form-control py-2" 
          id="description" 
          formControlName="description" 
          rows="4"
          placeholder="Décrivez votre demande ici..."></textarea>
        <div class="text-danger" *ngIf="demandeForm.get('description')?.invalid && demandeForm.get('description')?.touched">
          <small class="error">Description est requise et doit contenir au moins 10 caractères.</small>
        </div>
      </div>
      <!-- Photos -->
      <div class="mb-3">
        <label class="form-label">Photos (3 max):</label>
      
        <input type="file" accept="image/*" (change)="onFileChange($event, 'photo1')" class="form-control mb-2">
        <input type="file" accept="image/*" (change)="onFileChange($event, 'photo2')" class="form-control mb-2">
        <input type="file" accept="image/*" (change)="onFileChange($event, 'photo3')" class="form-control">
      </div>

      <!-- Submit -->
      <div class="text-center">
        <button type="submit" class="btn btn-primary mt-2">
          Envoyer
        </button>
      </div>
    </form>
  </div>
</div>