.fc-event {
    border: none;
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    margin: 2px 0;
    padding: 6px;
  }
  
  .fc-event-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .event-time {
    font-size: 0.8em;
    font-weight: bold;
    color: #333;
  }
  
  .event-title {
    font-size: 0.9em;
  }
  
  .event-status {
    font-size: 0.8em;
    font-style: italic;
  }
  
  /* Vue mois */
  .fc-dayGridMonth-view .fc-event {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* Dans planning.component.css */
.swal2-popup {
    font-family: 'Arial', sans-serif;
}

.swal2-title {
    color: #2c3e50;
    font-size: 1.5em !important;
}

.swal2-html-container {
    font-size: 1.1em;
}
/* Conteneur personnalisé pour les checkboxes */
.custom-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Masquer la case à cocher par défaut */
.custom-checkbox input[type="checkbox"] {
  display: none;
}

/* Style pour le label */
.custom-checkbox label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

/* Icône de la case à cocher */
.custom-checkbox .checkbox-icon {
  width: 20px;
  height: 20px;
  border: 2px solid #28a745;
  border-radius: 4px;
  margin-right: 10px;
  background-color: #fff;
  transition: all 0.3s ease;
}

/* Style pour la case cochée */
.custom-checkbox input[type="checkbox"]:checked + label .checkbox-icon {
  background-color: #28a745;
  border-color: #28a745;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"%3E%3Cpath fill="white" d="M6.173 11.414l-3.536-3.536 1.414-1.414 2.122 2.122 4.95-4.95 1.414 1.414z"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center;
}

/* Style pour les cases désactivées */
.custom-checkbox input[type="checkbox"]:disabled + label .checkbox-icon {
  background-color: #e9ecef;
  border-color: #ced4da;
  cursor: not-allowed;
}

/* Effet au survol */
.custom-checkbox label:hover .checkbox-icon {
  border-color: #1e7e34;
}
.titre-tech {
  color: #35536d;
  font-weight: bold;
  
}
.center {
  text-align: center;
}
