<div class="container mt-4">
  <h2 class="text-center mb-4">Liste des Autorisations</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th *ngIf="isAdmin">Technicien</th>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Raison</th>
        <th>Statut</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr 
      
      *ngFor="let autorisation of autorisations | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }" 
      [ngClass]="{
        'table-success': autorisation.statut?.toUpperCase() === 'ACCEPTER',
        'table-danger': autorisation.statut?.toUpperCase() === 'ANNULEE'
      }"
    >
    
    
        <td>{{ autorisation.id }}</td>
        <td *ngIf="isAdmin">
          {{ autorisation.technicien.nom }} {{ autorisation.technicien.prenom }}
        </td>
        <td>{{ autorisation.dateDebut }}</td>
        <td>{{ autorisation.dateFin }}</td>
        <td>{{ autorisation.raison }}</td>
        <td>
          {{ autorisation.statut }}
        </td>
        <td>
          <button 
          *ngIf="!isAdmin && autorisation.statut?.toUpperCase() !== 'ACCEPTER'"
          (click)="editAutorisation(autorisation)" 
          class="btn btn-light btn-sm w-50 mt-1" 
         
        >
        <i class="fas fa-edit text-primary"></i> 
       <!-- modifier -->
        </button>
        <button 
        *ngIf="!isAdmin && autorisation.statut?.toUpperCase() !== 'ACCEPTER'"
          (click)="deleteAutorisation(autorisation.id)" 
          class="btn btn-light btn-sm w-50 mt-1" 
          
        >
        
        <i class="fas fa-trash text-danger"></i>
         <!-- supprimer -->
        </button>
        <button 
        *ngIf="isAdmin"
        (click)="accepterAutorisation(autorisation.id)" 
        class="btn btn-outline-success btn-sm w-50 mt-1"
        
      >
      <i class="fas fa-check text-success"></i>
       <!-- accepter -->
      </button>
      <button 
      *ngIf="isAdmin"
        (click)="annulerAutorisation(autorisation.id)" 
        class="btn btn-outline-danger btn-sm w-50 mt-1"
        
      >
      <!-- annulee -->
      <i class="fas fa-times text-danger"></i>
        
      </button>
        </td>
      </tr>
    </tbody>
  </table>

  

  <div *ngIf="autorisations.length === 0" class="text-center mt-4">
    <p>Aucune autorisation trouvée.</p>
  </div>
  <pagination-controls
  (pageChange)="currentPage = $event"
  class="mt-3"
  previousLabel="Précédent"
  nextLabel="Suivant"
></pagination-controls>
</div>